/* Prevent pointer events during loading */
#nprogress {
  pointer-events: none;
}

/* Customize the loading bar */
#nprogress .bar {
  background: var(--red);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

/* Optional: Customize the spinner */
#nprogress .spinner-icon {
  display: none; /* Hide spinner */
}
